[Unit]
Description=Hyper-V Key Value Pair Daemon
Documentation=https://technet.microsoft.com/en-us/library/dn798287(v=ws.11).aspx
ConditionVirtualization=microsoft
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/hv_kvp_daemon -n
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target